<div class="grid" id="home-page-container">
  <div id="module_1" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <div class="inner-container">
      <h1 class="gotham-black">50 Years of Safety, Style &amp; Innovation</h1>
      <p class="gotham-book">That's Why 1 Out Of 2 Children Sleep In Our Products!</p>
    </div>
    <img alt="Delta Children" class="background" src="https://cdn.shopify.com/s/files/1/0578/7201/files/header-1300x700.jpeg?11658272526583916474">
    <div id="m1_banner-icon-holder">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/jeep_brand_mark.png" alt="Jeep logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Simmons.png" alt="Simmons logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Serta-Logo-2017_1.png" alt="Serta logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/beautyrest-logo.png" alt="Beautyrest logo">
      <img class="small-text-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/nick.png" alt="Nickelodeon logo">
      <img id="dc-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/delta_children_logo-2016-print-version.png" alt="Delta Children logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Disney_Signature_blue.png" alt="Disney logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/WB-Usage-Logo.png" alt="Warner Brothers logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/MLB-01_1.png" alt="MLB logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/USM_B_0004_SS11.png" alt="Marvel logo">
      <img class="small-text-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/eone.png" alt="Entertainment One logo">
    </div>
  </div>


</div>

{% schema %}
{
  "name": "Slideshow",
  "class": "shopify-section__slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "select",
      "id": "type",
      "label": "Layout",
      "options": [
        {
          "value": "dual",
          "label": "Reveal next slide"
        },
        {
          "value": "full_width",
          "label": "Full width"
        }
      ],
      "default": "dual"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1560 x 1050px jpg recommended"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Your slideshow",
          "info": "45 characters maximum"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "position",
          "label": "Text position",
          "info": "This setting is only applicable for the full-screen slideshow",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video slide",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video URL",
          "accept": ["youtube", "vimeo"],
          "info": "Enter either a Vimeo or YouTube URL",
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "image_picker",
          "id": "video_poster",
          "label": "Video image placeholder",
          "info": "1300 x 875px jpg recommended. This image is only used in the \"reveal next slide\" slideshow, for the preview slide. For YouTube, a default one is extracted from the video, but we recommend you to upload a custom image for best results."
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "info": "Heading is not displayed if layout is full screen.",
          "default": "Your slideshow"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Slideshow",
      "settings": {
        "autoplay": true,
        "cycle_speed": 5
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
